<div align="center">
  <% @game.number %>
  <h1><%= @game.name %></h1>

  <% if flash[:notice] %>
    <h2 class="flash"><%= flash[:notice] %></h2>
  <% end %>

  <% if @game.guesses.any? %>
    <table>
      <tr>
        Guesses: <% @game.guesses.each do |guess| %>
          <td>
            <%= guess.guess %>
          </td>
        <% end %>
      </tr>
    </table>
  <% end %>

  <%= form_with model: @guess do |form| %>
    <div>
      <%= form.hidden_field :game_id, value: @game.id %>
      <%= form.text_field :guess, autofocus: true %>
    </div>

    <div>
      <%= form.submit "Submit", :disabled => @game.number == @game.guesses.last&.guess %>
    </div>
  <% end %>

  <% @guess.errors.full_messages_for(:guess).each do |message| %>
    <div><%= message %></div>
  <% end %>
  
  <br>
  <p><%= link_to "Home", games_path %></p>
</div>